//<МИКСИНЫ>=============================================================================================
@mixin anim($time, $delay) {
	-webkit-transition: all $time ease $delay;
	-moz-transition: all $time ease $delay;
	-ms-transition: all $time ease $delay;
	-o-transition: all $time ease $delay;
	transition: all $time ease $delay;
}
@mixin anim_cibic($time, $delay) {
	-webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}
@mixin rotate($deg) {
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}
@mixin scale($num) {
	-moz-transform: scale($num);
	-ms-transform: scale($num);
	-webkit-transform: scale($num);
	-o-transform: scale($num);
	transform: scale($num);
}
@mixin skew($num) {
	-moz-transform: skewX($num);
	-ms-transform: skewX($num);
	-webkit-transform: skewX($num);
	-o-transform: skewX($num);
	transform: skewX($num);
}
@mixin cnt($h) {
	display: flex;
	flex-direction: column;
	height: $h;
	text-align: center;
	align-items: stretch;
	justify-content: center;
}
@mixin tran($x, $y) {
	transform: translate($x, $y);
}
@mixin tr($x, $y, $z) {
	transform: translate3d($x, $y, $z);
}
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 0;
}
@mixin flexboxinline() {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}
@mixin flexorder($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order: $val;
	order: $val;
}
//<ШРИФТЫ>=======================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap");

//<ПЕРЕМЕННЫЕ>===================================================================================================
$minwidth: 320px;
$mw: 1100;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
$fontfamily: "Lato";

//<ФУНКЦИИ>===================================================================================================
@function prc($pxOne, $pxTwo) {
	$resalt: math.div($pxOne, $pxTwo) * 100%;
	@return $resalt;
}
@function rem($px) {
	$resalt: math.div($px, 16) + rem;
	@return $resalt;
}
@function em($pxO) {
	$resalt: math.div($px, 16) + em;
	@return $resalt;
}

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===================================================================================
@import "_nullstyle";

//<SCSS ОБЩЕЕ>===================================================================================================
$fz1: 60px;
$fz2: 20px;
$color_1: blue;
$color_2: chartreuse;

%tplborder {
	border-bottom: 2px double rgb(223, 18, 18);
}

//@extend %tplborder;

//<ОБОЛОЧКА>======================================================================================================
.wrapper {
	font-family: $fontfamily;
	width: 100%;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	@include flexbox();
	flex-direction: column;
}
//<ОСНОВНАЯ СЕТКА>================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================
//@import "popup.scss"
//@import "_header";
//@import "_footer";

//<ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=============================================================
@import "_game";
