@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap");
* {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -wedkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
head,
aside {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  color: #000;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0px 0px 0px 0px;
  border: 0px;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  font-family: "Lato";
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
@media (max-width: 1112px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.timer {
  width: 200px;
  height: 200px;
  background: #333;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 3;
  background: #333;
  -webkit-animation: mask_l 10s steps(1) forwards;
          animation: mask_l 10s steps(1) forwards;
}
.timer:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 3;
  background: #88ce9f;
  -webkit-animation: mask_r 10s steps(1) forwards;
          animation: mask_r 10s steps(1) forwards;
}
.timer__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: lines 10s linear forwards;
          animation: lines 10s linear forwards;
  z-index: 1;
}
.timer__line:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #88ce9f;
}
.timer__body {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 4;
}
.timer__counter span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  color: #333;
  font-size: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.25rem;
  -webkit-animation: counter 10s steps(9) forwards;
          animation: counter 10s steps(9) forwards;
}

@-webkit-keyframes counter {
  0% {
    top: 0;
  }
  100% {
    -webkit-transform: translate(0, -900px);
            transform: translate(0, -900px);
  }
}

@keyframes counter {
  0% {
    top: 0;
  }
  100% {
    -webkit-transform: translate(0, -900px);
            transform: translate(0, -900px);
  }
}
@-webkit-keyframes lines {
  0% {
    top: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lines {
  0% {
    top: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mask_l {
  0% {
    visibility: visible;
  }
  50%, 100% {
    visibility: hidden;
  }
}
@keyframes mask_l {
  0% {
    visibility: visible;
  }
  50%, 100% {
    visibility: hidden;
  }
}
@-webkit-keyframes mask_r {
  0% {
    visibility: hidden;
  }
  50%, 100% {
    visibility: visible;
  }
}
@keyframes mask_r {
  0% {
    visibility: hidden;
  }
  50%, 100% {
    visibility: visible;
  }
}